/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ul,ol{
	list-style: none;
}

blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100..900&display=swap');

*, *::before, *::after{
  box-sizing: border-box;
  /* outline: 1px solid; */
}

body{
  font-family: "Noto Sans TC", sans-serif;
  font-weight: 500;
  line-height: 1.5;
  background: #FBFBFB;
}

img{
  vertical-align: middle;
  max-width: 100%;
  height: auto;
}

a{
  display: inline-block;
  text-decoration: none;
  color: #0027D5;
}

.container{
  max-width: 1920px;
  margin: 0 auto; 
}

/* 導覽列 */
.header{
  margin-top: 24px;
  margin-bottom: 24px;  
}

.menu{
    display: flex;
    justify-content: center;
    gap: 40px;
}

.menu a{
    font-size: 28px;
    font-weight: 700;
    color: #000;
}

.menu a:hover{
    color: #0027D5;
}


/* main封面照 */
.main{
    display: flex;
    height: calc(100vh - 90px);
    width: 100%;
}

.main-photo{
    background: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/index/Hero%20Section.png?raw=true);
    width: 50%;
    background-size: cover;
    background-position: center;
   
}

.main-intro{
    background-image: url(https://github.com/hexschool/2022-web-layout-training/blob/main/2025-web-camp/desktop/index/Hero%20Section2.png?raw=true);
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 80px;
}

.intro-title{
    font-size: 120px;
    font-weight: 900;
    color: #0027D5;
    margin-bottom: 12px;
}

.intro-item{
    font-size: 28px;
    font-weight: 700;
    color: #0027D5;
}
@media(max-width:992px){
  .main{
    flex-wrap: wrap;
    height: auto;
  }
  .main-photo{
    width: 100%;
    height: calc( 100vh - 90px - 180px );
  }
  .main-intro{
    width: 100%;
    padding: 24px 24px 24px;
  }
  .intro-title{
    font-size: 52px;
  }
  .intro-item{
    font-size: 28px;
  }

}





/* theme主題文章 */
.theme{
    display: flex;
    gap: 24px;
    margin-bottom: 80px;
    border-top: 1px solid #6C757D;
    border-bottom: 1px solid #6C757D;
}

.theme-photo{
    width: 50%;
}

.theme-item{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.theme-item time{
    margin-bottom: 4px;
}

.theme-hashtag{
    font-size: 24px;
    color: #0027D5;
    margin-right: 8px;
    margin-bottom: 8px;
}

.special-btn{
    background: #0027D5;
    color: #FFF;
    border-radius: 40px;
    padding: 6px 12px;
    font-weight: 700;   
}

.special-btn:hover{
    background: red;
    border: 1px solid red;
}

h2{
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 8px;
}

/* 隱藏多餘文字 */
.theme-text{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  margin-bottom: 16px;
}

.btn{
    color: #4B4B4B;
    border: 1px solid #000;
    border-radius: 40px;
    padding: 8px 16px;
    align-self: start;
}

.btn:hover{
    background: #4B4B4B;
    color: #fff;
}

@media(max-width:992px){
  .theme{
    flex-wrap: wrap;
    height: auto;
    margin-bottom: 64px;
  }
  .theme-photo{
    width: 100%;
  }
  .theme-item{
    width: 100%;
    padding: 48px 12px;
  } 

}




/* content卡片們 */
.search a{
    color: #4B4B4B;
    border: 1px solid #4B4B4B;
    padding: 16px 48px 16px 16px;
    border-radius: 40px;
    /* 讓search怎麼跟card一樣寬 */
    max-width: 416px; 
    width: 100%;
}

.content{
    max-width: 1296px;
    margin: 0 auto;
}

.card-list{
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.card{
    width: calc((100% - 48px) / 3);
    margin-top: 40px;
    margin-bottom: 40px;
}


.card-list img{
    margin-bottom: 16px;
}

.card-list time{
    margin-bottom: 4px;
    display: block;
}

.card-list a{
    font-size: 24px;
    margin-right: 8px;
}

.card-list p{
    color: #4B4B4B;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
    margin-bottom: 16px;
}

.card-list .card-text-oneline{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
    overflow: hidden;
    margin-bottom: calc(12px + 16px);
    padding-top: 12px;
}

.card-list .btn{
    font-size: 16px;
}

.card-list .special-btn{
   font-size: 16px;
}

@media(max-width:1200px){
  .content{
    padding-left: 12px;
    padding-right: 12px;
  }
  .card-list{
    gap: 24px;
  }
  
  .card{
    width: calc((100% - 24px) / 2);
  }

  .card img{
    width: 100%;
  }
}

@media(max-width:768px){
  .content{
    padding-left: 12px;
    padding-right: 12px;
  }
  .card-list{
    padding-top: 40px;
    padding-bottom: 40px;
  }
  
  .card{
    width: 100%;
    margin-top: 0;
    margin-bottom: 32px;
  }

  /* .card img{
    width: 100%;
  } */
}


/* page頁碼列表 */
.page{
    background: #FFF;
    width: 328px;
    margin: 0 auto;
    border-radius: 40px;
    padding: 8px 20px;
    margin-bottom: 80px;
}

.page-list{
    display: flex;
    justify-content: center;
    align-items: center;
}

.page-list a{
    padding-top: 8px;
    padding-bottom: 8px;
    width: 40px;
    text-align: center;
    color: #4B4B4B;
}

.page-list .page1{
    color: #0027D5;
}


.footer{
    border-top: 1px solid #6C757D;
}

.contact{
  padding-top: 80px;
  padding-bottom: 80px;
  display: flex;
  justify-content: space-between;
  max-width: 1296px;
  margin: 0 auto;
}

.email{
  font-size: 32px;
}

.contact-btn{
  display: flex;
}

.copyright{
  text-align: center;
  padding-top: 24px;
  padding-bottom: 24px;
  background: #FFF;
}

@media(max-width:1300px){
  .contact{
    display: none;
  }

}
